enabled: true
domain: backup_config
description: Backup configuration for the system
tools:
- name: get_config_meta_data
  type: streamMetadata
  stream: syslog-config-backup-stream
  description: >
    Retrieves the complete schema of config backup fields available in the system.
- name: get_config_backup
  type: streamQuery
  stream: syslog-config-backup-stream
  description: >
    This provides a list of recent config backups.
  data_format: csv
  response_prefix: Here are config backup in CSV format
  no_data_message: No config backup found for the specified parameters
  result_columns:
    hostname: Hostname
    golden_config: Golden Config
    timestamp: Timestamp
    source_ip: Source IP
    config_id: Config ID
    backup_mode: Backup Mode
  parameters:
  - name: source_ip
    description: IP of the device (e.g. 10.95.140.20,10.95.140.21,10.95.140.22 or 10.95.140.24)
    operator: "="
    queryMapping: source_ip = '{{source_ip}}'
  - name: golden_config
    description: Golden Config (e.g. true, false, yes, no)
    operator: "="
    queryMapping: golden_config = '{{golden_config}}'
  - name: configId
    description: Config ID (e.g. 50722b6d-af76-4130-883d-743668b5636f or cb0f0577-2f0e-494e-9e84-d39d2c8ff024)
    operator: "="
    queryMapping: config_id = '{{configId}}'
  - name: backup_mode
    description: Backup taken by (e.g. Event Driven or Manual)
    operator: "="
    queryMapping: backup_mode = '{{backup_mode}}'
  - name: hostname
    description: Hostname of the device  (e.g. RDAF-PE1,RDAF-PE2,RDAF-P1,RDAf-P2)
    operator: "="
    queryMapping: hostname = '{{hostname}}'
  - name: from_time
    type: string
    description: Query data using a From time, Date and time in ISO format
    default: null
    queryMapping: timestamp after '{{from_time}}'
  - name: to_time
    type: string
    description: Query data using a To time, Date and time in ISO format
    default: null
    queryMapping: timestamp before '{{to_time}}'
- name: mark_it_As_golden_config
  type: runPipeline
  description: >
    This pipeline helps in making a config as golden config based on the source IP and config ID.it first updates the golden config to No and then updates the golden config to Yes based on the source IP and config ID.
  custom_config:
    template_type: jinja
    pipeline_content: |
      --> @dm:empty
      --> @dm:addrow name="syslog-config-backup-stream"
      --> #dm:query-persistent-stream source_ip is '{{source_ip}}'
      --> @dm:eval golden_config="'No'"
      --> @rn:write-stream name="syslog-config-backup-stream"

      --> @c:new-block
      --> @dm:empty
      --> @dm:addrow name="syslog-config-backup-stream"
      --> #dm:query-persistent-stream config_id is '{{config_id}}'
      --> @dm:eval golden_config="'Yes'"
      --> @rn:write-stream name="syslog-config-backup-stream"
  parameters:
    - name: source_ip
      description: Source IP of the device for where the config is to be made golden config(e.g. 10.95.140.20,10.95.140.21,10.95.140.22 or 10.95.140.24)
      type: string
    - name: config_id
      description: Config ID for golden configuration(e.g. 50722b6d-af76-4130-883d-743668b5636f or cb0f0577-2f0e-494e-9e84-d39d2c8ff024)
      type: string
- name: restore_backup
  type: runPipeline
  description: >
    This tool restores the backup to the given config id, after the tool gets called the LLM should return a message quoting "Config-id is restored successfully"
  custom_config:
    template_type: jinja
    pipeline_content: |
      --> @dm:empty
      --> @dm:addrow source_ip="{{source_ip}}"
      --> @dm:eval config_id="'{{config_id}}'"
      --> @dm:save name="test-restore-backups"
  parameters:
    - name: source_ip
      description: Source IP of the device for where the config is to be made golden config(e.g. 10.95.140.20,10.95.140.21,10.95.140.22 or 10.95.140.24)
      type: string
    - name: config_id
      description: Config ID for golden configuration(e.g. 50722b6d-af76-4130-883d-743668b5636f or cb0f0577-2f0e-494e-9e84-d39d2c8ff024)
      type: string


