enabled: true
domain: network_automation
description: Network Automation related tools.
tools:
    -   name: run_ssh_command
        type: runPipeline
        save_to_cache: true
        description: 'Run SSH commands on network devices with caching support.



            Features:


            - Executes SSH commands on target devices


            - Implements cache-first strategy for command outputs


            - Stores results in cache for future reference



            Cache Details:


            - Document format: cache_run_{ip_address}_{ssh_command}


            - Access cached results using cache-fetch or cache-search tools


            - List all cached entries using cache-list

            '
        custom_config:
            template_type: jinja
            pipeline_content: "@dm:empty\n    --> @dm:addrow ip_address_column=\"\
                {{ ip_address }}\" \n    --> @sshv2:execute command=\"{{ ssh_command\
                \ }}\" &    column_name=\"ip_address_column\"\n            & secret_names=\"\
                ssh-cred-cml\"\n"
            pipeline_output_columns:
                - output
        parameters:
            -   name: ip_address
                description: IP Address of the target device
                type: string
            -   name: ssh_command
                description: SSH command to execute (e.g., show run, show ip interface
                    brief)
                type: string
    -   name: run_config_change_command
        type: runPipeline
        save_to_cache: false
        description: 'This tool is used to run command that change the configuration
            of a device

            '
        custom_config:
            template_type: jinja
            pipeline_content: "@dm:empty\n--> @dm:addrow\n        profile_name = 'interface_shut'\
                \ and command = \"{{ commands }}\" and condition=\"{{ \"{% raw %}{{device_type\
                \ == 'cisco_xe'}}{% endraw %}\" }}\"\n--> @dm:save name = 'profile_dataset'\n\
                \n--> @c:new-block\n    --> @dm:empty\n    --> @dm:addrow  ip = '{{\
                \ ip_address }}' and profiles = 'interface_shut'\n    --> @dm:save\
                \ name is 'ip_dataset'\n\n--> @c:new-block\n    --> @dm:empty\n  \
                \  --> @dm:addrow ip = '{{ ip_address }}' and device_type = 'cisco_xe'\n\
                \    --> @dm:save name = 'devices_details_dataset'\n\n--> @c:new-block\n\
                \    --> @dm:recall name is 'ip_dataset'\n    --> @network-device:execute-config\n\
                \            ip_column_name = 'ip' and\n            profile_dataset_name\
                \ = 'profile_dataset' and\n            profile_column_name = 'profiles'\
                \ and skip_tcp_check is yes and devices_details_dataset='devices_details_dataset'\n"
            pipeline_output_columns:
                - output
        parameters:
            -   name: ip_address
                description: IP Address of the target device
                type: string
            -   name: commands
                description: SSH commands to execute separated by '\\n' (e.g., int
                    gi 2\\nshut)
                type: string
    -   name: get_golden_config
        type: runPipeline
        stream: syslog-config-backup-stream
        description: Get the golden configuration for a network device.
        custom_config:
            template_type: jinja
            pipeline_content: '--> @dm:empty

                --> @dm:addrow name = ''syslog-config-backup-stream''

                --> #dm:query-persistent-stream source_ip=''{{ip_address}}'' and golden_config=''Yes''

                '
            pipeline_output_columns:
                - output
        parameters:
            -   name: ip_address
                description: IP address of the device to get golden configuration
    -   name: get_latest_config
        type: runPipeline
        stream: syslog-config-backup-stream
        description: Get the latest configuration for a network device.
        custom_config:
            template_type: jinja
            pipeline_content: '--> @dm:empty

                --> @dm:addrow name = ''syslog-config-backup-stream''

                --> #dm:query-persistent-stream source_ip=''{{ip_address}}'' --> @dm:head
                n=''1'' --> @dm:selectcolumns include=''output''

                --> @dm:eval output = ''output'''
        parameters:
            -   name: ip_address
                description: IP address of the device to get latest configuration
    -   name: get_config_compliance_policies
        type: streamQuery
        stream: network_configuration_compliance_policies
        description: Get the configuration compliance rules or policies for a network
            device
        data_format: json
        result_columns:
            id: null
            rule: null
            description: null
            os_types: null
            command: null
            check: null
        parameters0:
            -   name: limit
                description: Max rows to return (default 10). Recommneded limit is
                    10
                required: false
                type: number
                default: 10
    -   name: get_approved_network_os_images_list
        type: streamQuery
        stream: approved_network_os_images
        description: Get the list or criteria of approved network OS images for a
            network device
        data_format: json
        result_columns:
            vendor: null
            os_type: null
            version_criteria: null
            approval_date: null
            description: null
            notes: null
    -   name: run_diagnostic_tests
        type: runPipeline
        description: 'Run diagnostic tests (ping) on a network device.

            Features:

            - Executes diagnostic tests (ping) on a network device

            - Implements cache-first strategy for command outputs

            - Stores results in cache for future reference and then retrievs it using
            cache-fetch and cache search


            Cache Details:

            - Access cached results using cache-fetch or cache-search tools

            - List all cached entries using cache-list

            '
        custom_config:
            template_type: jinja
            pipeline_content: '--> @dm:empty

                --> @dm:addrow ip_address=''{{ip_address}}''

                --> @diagnostictools:ping column_name_host="ip_address"

                '
        parameters:
            -   name: ip_address
                description: IP address of the device to run diagnostics on
                type: string
